.welcome_text {
    font-size: 60px;
}
.large_font {
    font-size: large;
}

.welcome_card {
    background-color: dimgrey;
    border-color: black;
    display: inline-block;
    width: 300px;
    text-align: center;
}

body {
    background-color: grey;
}

.card {
    background-color: dimgrey;
    border-color: black;
    display: inline-block;
    text-align: center;
}

.welcome_img {
    width: 375px; 
}

.success {
    background-color: green;
    border-color: black;
    text-align: center;
    height: 152px
}

.error {
    background-color: red;
    border-color: black;
    text-align: center;
    height: 152px
}

.img {
    width: 232px;
}   

fieldset {
    margin: 5px;
}

html, body {
    height: 100%; /* Ensure both html and body take up the full height of the viewport */
    margin: 0; /* Remove default margins */
}