h1 {
    font-size: 60px;
}
p {
    font-size: large;
}

fieldset {
    width: 300px;
    text-align: center;
}

.inner_fieldset{
    margin: auto;
}

body {
    background-color: grey;
}

.card {
    background-color: dimgrey;
    border-color: black;
    display: inline-block;
    vertical-align: top;
}

.welcome_img {
    width: 375px; 
}

.banner {
    height: 185px;
    width: 1455px;
    object-fit: cover;
}

.success {
    background-color: green;
    border-color: black;
    width: 375px;
    height: 166px;
}

.error {
    background-color: red;
    border-color: black;
    width: 375px;
    height: 166px;
}

.footer {
    display: flex; 
    flex-direction: row;
}
