{% extends "index.html" %}

{% block section1 %}
    {% if invalid_input %}

        <fieldset class="error">
            <div>Error</div>
            <div>Please enter a valid EA ID</div>
        </fieldset>

    {% endif %}

    {% if invalid_button %}

        <div class="error">

            <fieldset class="card, error">
                <div>Error</div>
                <div>Please select a platform</div>
            </fieldset>

        </div>

    {% endif %}

    {% if invalid_user %}
        

        <fieldset class="error">
            <div>Error</div>
            <div>User does not exist</div>
        </fieldset>


    {% endif %}

{% endblock %}