{% extends "index.html" %}

{% block section1 %}
    
    <fieldset class="success">
        <div>Success</div>
        <div>User: {{ ea_id }} on {{ selected_platform }}</div>
    </fieldset>

{% endblock %}

{% block section2 %}
    <fieldset class="card" style="height: 354px;">

        {% for key, value in player_info.items() %}
        
            {% if key == 'rankImg' %}
                <div>
                    <img src="{{ value['brRank'] }}" class="rank_img" alt="Player's BR Rank">
                    <img src="{{ value['arenasRank'] }}" class="rank_img" alt="Player's Arenas Rank">
                </div>
            
            {% elif key == 'name' %}

                <div class="card_text">Name: {{ value }}</div>    

            {% elif key == 'level' %}

                <div class="card_text">Level: {{ value }}</div>
                
            {% elif key == 'brRank' %}

                <div class="card_text">BR Rank: {{ value }}</div>

            {% elif key == 'arenasRank' %}

                <div class="card_text">Arenas Rank: {{ value }}</div>

            {% elif key == 'status' %}
                
                <div class="card_text">Status: {{value}}</div>

            {% endif %}

        {% endfor %}

        {% for metric, stat in top_stats.items() %}
    
                {% if metric == 'Error' %}
                
                    <div>Error: Not enough data</div>
                
                {% else %}
    
                    <div>{{ metric }}: {{ stat }}</div>
    
                {% endif %}
            
        {% endfor %}

    </fieldset>

    <fieldset class="card" style="height: 354px; width: 246px">

        {% for key, value in selected_legend.items() %}

            {% if key == 'LegendName' %}

                <div>Selected Legend: {{value }}</div>

            {% else %}

                <div><img src="{{ value }}" class="legend_img"></div>
            
            {% endif %}
        
        {% endfor %}

    </fieldset>

    <fieldset class="card" style="height: 354px; width: 746px">
        {% for key, value in top_legends.items() %}

            {% if key == 'Error' %}
            
                <div>Error: Not enough data</div>
            
            {% else %}
            <div style="display: inline-block;">
                <div>
                    {{ key }}: Top {{ value['topPercent'] }}%
                </div>
                <div>
                    <img src="{{ value['icon'] }}" class="legend_img">
                </div>
            </div>

            {% endif %}
        
        {% endfor %}

    </fieldset>
    
    <div>
        <img src="{{ banner }}" class="banner" alt="An Image of the player's selected Legend. Currently, Alter's image does not load when called from the API">
    </div>
   
{% endblock %}